<div class="container mt-1">
	<a href="/advertisements/show/{{ aid }}" class="noHover">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<img class="small_img" src="{{ path }}" alt="">
					</div>
					<div class="col-md-6" style="color: white; font-size: large;">
						<p class="card-title" style="font-family: Helvetica; font-weight: bold; font-size: xx-large;">{{ title }}</p>
						<br>
						<p><b>Cena: </b>{{ price }} PLN<p>
						<p><b>Lokalizacja: </b>{{ postcode }}, {{ location }}<p>
						<p><b>Dodano: </b>{{ created }}<p>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>
