<div class="container mt-1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="big_img" src="{{ path }}" alt="">
                </div>
                <div class="col-md-4">
                    <br>
                    <p class="adv-data" style="font-size: 24px; font-weight: bold; font-family: Helvetica;">{{ title }}</p>
                    <p class="adv-data" style="font-size: 28px; font-weight: bold;">{{ price }} PLN</p>
                    <p class="adv-data" style="font-size: 15px;">Kategoria: {{ category }}</p>
                    <p class="adv-data" style="font-size: 15px;">Stan: {{ status }}</p>
                </div>
                <div class="col-md-4">
                    <br> <br>
                    <p class="adv-info"> Użytkownik: <b style="font-size: 22px;">{{ username }}</b></p>
                    <p class="adv-info"> Telefon: <b style="font-size: 22px;">{{ phone_number }}</b></p>
                    <p class="adv-info"> Lokalizacja: <b style="font-size: 22px;">{{ postcode }}, {{ location }}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-1">
    <div class="card">
        <div class="card-body">
            <p class="adv-data" style="font-size: 25px; font-weight: bold; ">Opis</p>
			<p class="adv-info" style="color: white; font-size: 20px;">{{ description }}</p>
        </div>
        <br>
    </div>
</div>